######################
# Maven
######################
target/

######################
# Spring
######################
.springBeans

######################
# App
######################
*.trace.db
/*mv.tmp
*.mv.db

######################
# Eclipse
######################
.classpath
.project
.settings/

######################
# GWT
######################
gwt-unitCache/
.springboot-gwt-devmode/

######################
# MacOS
######################
*.DS_Store

######################
# IntelliJ
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
/.factorypath

**/WEB-INF/deploy/**
**/webapp/springdemo/